################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotnet/v16
/.vs/slnx.sqlite
/.vs
